h2, h4 {
    margin: 0;
}


.icon {
    width: 20px;
    height: 20px;
    transition: transform 0.5s ease 0s, color 0.5s ease 0s;
}


.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: #ccc;
    border: 4px solid #ccc;
    border-radius: 40px;
    background-color: #6C6C6C;
    text-align: center;
    padding: 30px;
}


.audio-player-btns, .track-controls-btns {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


.track-controls-btns .icon {
    width: 35px !important;
    height: 35px !important;
}


.track-duration {
    accent-color: #ccc;
    margin: 20px 0;
    transition: transform 0.5s ease 0s, accent-color 0.5s ease 0s;
}


.track-pause {
    display: none;
}


.icon:hover, .track-duration:hover {
    cursor: pointer;
    accent-color: #fff;
    color: #fff;
    transform: scale(115%) translateY(-5%);
}
